.py-5.container-xl
    .row.justify-content-around
        h2.font-weight-bold.text-uppercase.col-12.pb-5.text-center Наши преимущества
        .card.col-lg.mx-3.align-items-center.p-3.text-center.col-sm-5.mb-4
            img(src="./img/icons/fast.svg", width=128, height=128, alt="").mb-3
            h3 Быстро
            span Выполняем свою работу оперативно, точно в срок
        .card.col-lg.mx-3.align-items-center.p-3.text-center.col-sm-5.mb-4
            img(src="./img/icons/quality.svg", width=128, height=128, alt="").mb-3
            h3 Качественно
            span Качество работы один из наших приоритетных компонентов
        .card.col-lg.mx-3.align-items-center.p-3.text-center.col-sm-5.mb-4
            img(src="./img/icons/shield.svg", width=128, height=128, alt="").mb-3
            h3 Надежно
            span Вы получаете железные гарантии — все по-честному
        .card.col-lg.mx-3.align-items-center.p-3.text-center.col-sm-5.mb-4
            img(src="./img/icons/econom.svg", width=128, height=128, alt="").mb-3
            h3 Выгодно
            span Не жадничаем! Предлагаем цены выше средних по рынку