.footer.container-fluid.p-3
    .row.align-items-center
        .tels.col-sm-4.align-items-center.d-flex.justify-content-center.flex-column.p-2
            a.contacts__item(href='tel:+380675055431').d-flex.align-items-center
                img(src='./img/icons/call-white.svg', alt='telephone',  height=20).mr-2
                span.text-nowrap +38(050)-151-05-68
            a.contacts__item(href='tel:+380675055431').d-flex.align-items-center
                img(src='./img/icons/call-white.svg', alt='telephone', height=20).mr-2
                span.text-nowrap +38(050)-151-05-68

        .email.d-flex.justify-content-center.col-sm-5.p-2
            a.contacts__item(href='mailto:tyranrexua@gmail.com').d-flex.align-items-center
                img(src='./img/icons/email-white.svg' alt='email' height=20).mr-2
                span.text-nowrap tyranrexua@gmail.com
                
        .d-flex.justify-content-center.col-sm-3.p-2
            a.menu__item.viber(href='viber://chat?number=380675055431').mr-2
                img(src='./img/icons/viber.svg' alt='viber' height='32')
            a.menu__item.skype(href='tg://resolve?domain=TyranRex')
                img(src='./img/icons/telegram.svg' alt='telegram' height='32')