.header.container-fluid.p-2.pb-5
    .row.align-items-center
        .logo.col-6.align-items-center.d-flex.justify-content-center.col-lg-4.p-1
            img(src="./img/icons/logo.PNG", width=52, alt="").mr-2
            span.font-weight-bolder.text-nowrap Util-Company

        .tels.col-6.col-lg-3.align-items-center.d-flex.justify-content-center.flex-column.p-1
            a.contacts__item(href='tel:+380675055431').d-flex.align-items-center
                img(src='./img/icons/call.svg', alt='telephone',  height=20).mr-2
                span.text-nowrap +38(050)-151-05-68
            a.contacts__item(href='tel:+380675055431').d-flex.align-items-center
                img(src='./img/icons/call.svg', alt='telephone', height=20).mr-2
                span.text-nowrap +38(050)-151-05-68

        .email.col-lg-3.d-flex.justify-content-center.col-6.p-1
            a.contacts__item(href='mailto:tyranrexua@gmail.com').d-flex.align-items-center
                img(src='./img/icons/email.svg' alt='email' height=20).mr-2
                span.text-nowrap tyranrexua@gmail.com
                
        .col-lg-2.d-flex.justify-content-center.col-6.p-1
            a.menu__item.viber(href='viber://chat?number=380675055431').mr-2
                img(src='./img/icons/viber.svg' alt='viber' height='32')
            a.menu__item.skype(href='tg://resolve?domain=TyranRex')
                img(src='./img/icons/telegram.svg' alt='telegram' height='32')
