.container-fluid.services
    .row
        h2.font-weight-bold.text-uppercase.col-12.pb-5.text-center.pt-5 Наши услуги
    .row.portfolio.d-flex.flex-row
        .col-3.p-0.services__item-1
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.
        .col-3.p-0.services__item-2
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.
        .col-3.p-0.services__item-3
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.
        .col-3.p-0.services__item-4
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.

    .row.portfolio.d-flex.flex-row-reverse
        .col-3.p-0.services__item-5
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.
        .col-3.p-0.services__item-6
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.
        .col-3.p-0.services__item-7
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center.text-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.
        .col-3.p-0.services__item-8
            .bg
            .layer.p-3.d-flex.align-items-center.justify-content-center
                .textBlock.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ducimus.